* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000E2C;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

nav,
button {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #000E2C;
    height: 100px;
    border-bottom: solid 3px #fdc50e;
}

header img {
    width: 100%;
}

header #logo {
    max-width: 200px;
}

header .navegacao a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

header .navegacao {
    display: flex;
    align-items: end;
    height: 100%;
    gap: 10px;
}


header .navegacao a:hover {
    color: #ffffff;
    transform: scale(105%);
    background-color: #fdc50e;
    border-radius: 3px 3px 0 0;
}

header .navegacao {
    display: flex;
    align-items: end;
    height: 100%;
    gap: 10px;
}

.botao-agenda {
    max-width: 200px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #fdc50e;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
}

.botao-agenda img {
    width: 20px;
}

.menu-toggle {
    display: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;

    text-align: center;
}

main #first {
    margin-top: 20px;
    display: flex;
    color: #ffffff;
    font-size: 15px;
    margin-left: 30px;
}

main #first #titulo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

main #first #titulo h1 {
    text-transform: uppercase;

    font-size: 30px;
}

main #first #titulo h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #fdc50e;
}

main #first #titulo ul img {
    max-height: 50px;
}

main #first #titulo ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    list-style: none;
    padding: 0;
}

main #first #titulo ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

main #first #titulo ul img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

main #first #titulo ul li p {
    width: 120px;
    text-align: center;
}

main #first #carro {
    width: 50%;
    min-height: 400px;
    background:
        linear-gradient(to right,
            rgba(0, 14, 44, 1) 0%,
            rgba(0, 14, 44, .8) 40%,
            rgba(0, 14, 44, 0) 100%),
        url("../assets/images/carro.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* main - id second 1ª parte */
main #second #servicos ul{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
main #second #servicos ul li{
    display: flex;
    flex-direction: column;
}
main #second #servicos h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #fdc50e;
}
main #second #servicos h3{
    text-align: center;
    color: #fdc50e;
}
main #second #servicos p{
    color: #fff;
}
main #second #servicos ul li{
    width: 200px;
}
main #second #servicos ul p{
    font-size: 12px;
    
}
main #second #servicos img{
    height: 100px;
}
#servicos li:hover{
    transform: scale(1.1);

}

/* sobre nos */
main #second #sobre__nos{
    padding-top: 30px;
    
}

main #second #sobre__nos h2 {
    margin-top: 50px;
    text-align: center;
    color: #fdc50e;
}

main #second #sobre__nos p{
    text-indent: 40px;
    color: #fff;
}
main #second #sobre__nos h3{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}




@media (max-width: 768px) {

    header {
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Esconde o botão do WhatsApp */
    .botao-agenda {
        display: none;
    }

    /* Mostra o ícone do menu */
    .menu-toggle {
        display: block;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }

    /* Esconde o menu inicialmente */
    header .navegacao {
        display: none;
    }


    .navegacao.ativo {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        gap: 15px;
    }

    main #first {
        flex-direction: column;
    }

    main #first #titulo,
    main #first #carro {
        width: 100%;
    }

    main #first #titulo {
        align-items: center;
        text-align: center;
    }

    main #first #titulo h1 {
        font-size: 24px;
    }

    main #first #titulo h2 {
        font-size: 38px;
    }
}